#footer {
    padding: 10px 0;
    text-align: center;
    color: #fff;
}
#footer a {
    color: #fff;
}
#footer a:hover {
    color: #fff;
}
#footer .list-inline .list-inline-item {
    padding: 25px 15px;
}
.sci {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci li {
	list-style: none;
	margin: 0 20px;
}
.sci li a {
	color: #777;
	font-size: 2em;
	transition: 0.5s;
}

.cpryt {
	margin-top: 20px;
	text-align: center;
	color: #777;
} 