@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url(navbar.css);
@import url(inicio.css);
@import url(material.css);
@import url(profesores.css);
@import url(dudas.css);
@import url(footer.css);
/* @import url(jquery.pagepiling.css); */


html {scroll-behavior: smooth;}

body {
    font-family: 'Titillium Web', sans-serif;
    color: #505962;
}
body::-webkit-scrollbar  {
	background: #000;
	font-family: 'Poppins', sans-serif;
	width: 7px;
}
body::-webkit-scrollbar-thumb {
	background: rgba(30, 187, 163, 0.7);
	border-radius: 15px;
}

h1 {font-size: 66px; font-weight: 600; line-height: 80px;}
h2{
    font-size: 48px;
    margin-bottom:30px;
    text-transform: uppercase;
}
p{
    font-size: 18px;
    columns: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}

section {padding: 120px 0;}

.bg-light-grey {background-color:#f5f5f5;}

.content-center {
    max-width: 800px;
    margin:0 auto 60px auto;
    text-align: center;
}

.topmargin-xs {margin-top: 15px; }
.topmargin-sm {margin-top: 30px; }
.topmargin-lg {margin-top: 60px; }
