.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
}
.set-margin-cicis-menu-to-go {
    margin: 20px;
}
.set-padding-cicis-menu-to-go {
    padding: 20px;
}
.set-border-cicis-menu-to-go {
    border: 5px inset #4f4f4f;
}
set-box-shadow-cicis-menu-to-go {
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
}
.responsive-wrapper {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}
.responsive-wrapper img, .responsive-wrapper object, .responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: none;
    padding: 0;
    margin: 0;
}
#Iframe-Cicis-Menu-To-Go {
    max-width: 700px;
    max-height: 900px;
    overflow: hidden;
}
.responsive-wrapper-padding-bottom-90pct {
    padding-bottom: 90%;
}
 /* boton */

.contenedor-boton {
    box-sizing: border-box;
    text-align: center;
    text-rendering: auto;
    font-size: 17px;
    line-height: 1.6em;
    height: 4vh;
    overflow: hidden;
    padding: 5%;
    padding-top: 10vh;
    /*background: red;*/
    height: 15%;
}
.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: #22B3A3;
    border: none;
    color: white;
    transition: .2s;
    width: 20%;
 }
 .button::before, .button::after {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     padding-top: inherit;
     padding-bottom: inherit;
     width: 2.8em;
     content: "\00a0";
     font-family: 'FontAwesome', sans-serif;
     font-size: 1.2em;
     text-align: center;
     transition: .2s;
     transform-origin: 50% 60%;
 }
 .button:before {
     background: rgba(0, 0, 0, 0.09999999999999998);
 }
 .button:active, .button:focus {
     /* background: #002e3f; */
     outline: none;
 }
 .button {
     min-width: 15em;
 }
 .save {
     background: #0C87CB;
 }
 .save:after {
     content: "\f0c7";
 }
 .save:hover:after {
     -webkit-animation: bounceright .3s alternate ease infinite;
     animation: bounceright .3s alternate ease infinite;
 }
 .delete {
     background: #FE0000;
 }
 .delete:after {
     content: "\f2ed";
 }
 .delete:hover:after {
     -webkit-animation: none;
     -webkit-transform: skew(-20deg);
     animation: none;
     transform: skew(-20deg);
     text-indent: .1em;
 }
 .download::after {
     content: "\f019";
 }
 .download:hover:after {
     -webkit-animation: none;
     -webkit-transform: scale(1.4);
     animation: none;
     transform: scale(1.4);
 }
 /* animaciones de los iconos */

 @-webkit-keyframes bounceright {
     from {
         -webkit-transform: translateX(0);
     }
     to {
         -webkit-transform: translateX(3px);
     }
 }
 @-webkit-keyframes wiggle {
     from {
         -webkit-transform: rotate(0deg);
     }
     to {
         -webkit-transform: rotate(30deg);
     }
 }
 @keyframes bounceright {
     from {
         transform: translateX(0);
     }
     to {
         transform: translateX(3px);
     }
 }
 @keyframes wiggle {
     from {
         transform: rotate(0deg);
     }
     to {
         transform: rotate(30deg);
     }
 }



 .bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 40px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #79d001;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 15px #79d001;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #79d001;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


#textarea {
  width: 80%;
  height: 80px;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  outline: none;
  resize: none;
}
#textarea:hover {
  -webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.75);
}

/* page layout structure */ 
#L { display: block; width: 700px; margin: 0 auto; padding-top: 35px; }

#container { 
  display: block; 
  width: 100%; 
  background: #fff; 
  padding: 14px 20px; 
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}


/* comments area */
#comments { display: block; }

#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 65px; border-top: 1px solid #ddd; }

#comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img { 
  -webkit-border-radius: 150px; 
  -moz-border-radius: 150px; 
  border-radius: 150px; 
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }

#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }

#comments .cmmnt .cmmnt-content header { font-size: 1.3em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 